@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif !important;
  color: #282727;
}

.layout-content {
  width: 90%;
  margin: 0 auto;
  padding: 0 6px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body a {
  text-decoration: none;
  color: #282727;
}

a:hover {
  color: #282727;
}

body p {
  margin-bottom: 0;
}

ul {
  list-style-type: none;
}

.fw-500 {
  font-weight: 500;
}

.default-price {
  font-size: 14px;
  font-weight: 300;
  text-decoration: line-through;
}

.error-message {
  color: #dc3545;
  font-style: italic;
  font-size: 14px;
}
.loading-spinner {
  position: fixed;
  font-size: 48px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  z-index: 111;
}

.loading-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ddba76;
  margin: 0 10px;
  animation: bounce 0.3s infinite alternate;
}

.circle:nth-child(2) {
  animation-delay: 0.1s;
}
.circle:nth-child(3) {
  animation-delay: 0.2s;
}
.circle:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

/* button */
button {
  cursor: pointer;
}

.btn-white {
  background: none;
  color: #282727;
  border: 1px solid #282727;
  border-radius: 4px;
  min-width: 100px;
}
.btn-white:hover {
  background: #282727;
  color: #fff;
}

.btn-black {
  background: #282727;
  color: #fff;
  border: 1px solid #282727;
  border-radius: 4px;
  min-width: 100px;
}
.btn-black:hover {
  background: none;
  color: #282727;
}

/* color */
.color-brown {
  color: #ddba76;
}

.color-white {
  color: #fff;
}

.color-black {
  color: #282727;
}

/* Slick slider */
.slick-prev:before,
.slick-next:before {
  color: #ddba76 !important;
  font-size: 26px !important;
}

#overlay-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #111;
  opacity: 0.5;
  overflow: hidden;

  z-index: 100;
}

/* table on admin page */
.rounded-large.shadow-small {
  padding: 0 !important;
  margin-top: 32px;
}
