.shopping-cart {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 60px;
  padding: 60px 0;
  .cart-info {
    padding-top: 16px;
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        display: flex;
        p {
          margin: 0 6px;
        }
      }
    }
    .list-cart-items {
      .cart-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
        border-top: 1px solid #dcdcdc;
        p:last-child {
          text-align: right;
          min-width: 108px;
        }
        .mini-cart {
          display: flex;
          .product-img {
            width: 100px;
          }
          .product-content {
            min-width: 300px;
            margin-left: 16px;
            p:nth-child(2) {
              font-size: 14px;
              font-weight: 300;
              text-decoration: line-through;
            }
            span {
              cursor: pointer;
            }
          }
        }
        .change-count-pc {
          display: flex;
          align-items: center;
          .btn-minus-count,
          .btn-plus-count {
            cursor: pointer;
          }
        }
        .change-count-sm {
          display: none;
        }
      }
    }
  }

  .order-info {
    border: 1px solid #dcdcdc;
    .order-container {
      padding: 16px;
      h4 {
        text-align: center;
        border-bottom: 1px solid #dcdcdc;
        padding-bottom: 8px;
        margin-bottom: 0;
      }
      .total-money {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 22px;
        padding: 16px 0;
        border-bottom: 1px solid #dcdcdc;
      }
      .order-note {
        p {
          margin: 8px 0;
        }
        input {
          width: 100%;
          margin: 8px 0;
          padding: 8px;
        }
        button {
          width: 100%;
          margin: 8px 0;
          padding: 8px;
        }
        .back {
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            color: #ddba76;
          }
          span {
            margin-right: 8px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .shopping-cart {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 428px) {
  .shopping-cart {
    padding: 40px 0;
    gap: 40px;
    .cart-info {
      padding-top: 0;
      .list-cart-items {
        .cart-item {
          p:last-child {
            display: none;
          }
          .mini-cart {
            display: grid;
            grid-template-columns: 1fr 2fr;
            .product-img {
              width: 100%;
            }
            .product-content {
              min-width: auto;
            }
          }
          .change-count-pc {
            display: none;
          }
          .change-count-sm {
            display: block;
            margin-top: 8px;
          }
        }
      }
    }
  }
}
